*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    flex-direction: column;
}
header {
    min-height: 50px;
    width: 100%;
    background-color: grey;
    text-align: center; 
    padding: 1rem;
}
main {flex: 1;}
footer {
    min-height: 50px;
    width: 100%;
    background-color: grey;
}
section {
    border: 2px dashed black; 
    margin: 2rem;
}
div {
    border: 2px solid black; 
    width: 60%; 
    margin: 2rem auto; 
    padding: 2rem; 
    text-align: center;
}
h1 {font-size: 40px;}
h2 {font-size: 25px; padding: 1rem; text-align: center;}
p {font-size: 20px;}
button {
    padding: 0.5rem 2rem; 
    margin: 1rem; 
    border: 2px solid black; 
    cursor: pointer;
}
label {padding: 0.5rem; margin: 1rem;}
input {padding: 0.5rem; 
    margin: 1rem; 
    border: 2px solid black; 
    width: 70%;
}
#gallery-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
}
.gallery-item {position: relative; margin: 10px;}
.gallery-item img {
max-width: 200px;
max-height: 200px;
cursor: pointer;
transition: transform 0.2s;
}
.gallery-item img:hover {transform: scale(1.1);}
.delete-button {
position: absolute;
top: 5px;
right: 5px;
background-color: red;
color: white;
border: none;
padding: 5px;
cursor: pointer;
}